# Node modules
/node_modules/

# Vite cache
/.vite/

# Build output
/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# IDE settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*.local
